<h3>렌탈 시스템 관리자</h3>
<form>
    관리자 ID : <input #checkAdminId type='text'>
    <button (click) = "click()">조회</button>
</form>
<h2>{{ adminState }}</h2>
<ng-container *ngIf="conif==1">
<button (click) = "conCar()">자동차 목록 관리</button>
<button (click) = "conUser()">사용자 목록 관리</button>
<button (click) = "conAdmin()">관리자 정보 관리</button>
<button (click) = "conRentalInfo()">렌탈 정보 확인</button>
    <ng-container *ngIf="con=='car'">
        <h3>자동차 목록 관리</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">자동차 ID</th>
                    <th scope="cols">자동차 이름</th>
                    <th scope="cols">제조회사</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _car of car">
                    <td>{{ _car.carId }}</td>
                    <td>{{ _car.carName }}</td>
                    <td>{{ _car.company }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            자동차 이름 : <input #carName type='text'> 
            제조 회사 : <input #company type='text'>
            <button (click) = 'saveCar()'>등록</button>
        </p>
        <p>
            자동차 ID : <input #carId type='text'> 
            <button (click)='deleteCar()'>제거</button>
        </p>
    </ng-container>
    <ng-container *ngIf="con=='user'">
        <h3>유저 목록 관리</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">사용자 ID</th>
                    <th scope="cols">사용자 이름</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _user of user">
                    <td>{{ _user.userId }}</td>
                    <td>{{ _user.userName }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            사용자 이름 : <input #userName type='text'> 
            <button (click)='saveUser()'>등록</button>
        </p>
        <p>
            사용자 ID : <input #userId type='text'> 
            <button (click)='deleteUser()'>제거</button>
        </p>
    </ng-container>
    <ng-container *ngIf="con=='admin'">
        <h3>관리자 정보 관리</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">관리자 ID</th>
                    <th scope="cols">관리자 이름</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _admin of admin">
                    <td>{{ _admin.adminId }}</td>
                    <td>{{ _admin.adminName }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            관리자 이름 : <input #adminName type='text'> 
            <button (click)='saveAdmin()'>등록</button>
        </p>
        <p>
            관리자 ID : <input #adminId type='text'> 
            <button (click)='deleteAdmin()'>제거</button>
        </p>
    </ng-container>
    <ng-container *ngIf="con=='rentalinfo'">
        <h3>렌탈 정보 확인</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">렌트번호</th>
                    <th scope="cols">사용자 ID</th>
                    <th scope="cols">자동차 ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _rentInfo of rentInfo">
                    <td>{{ _rentInfo.id }}</td>
                    <td>{{ _rentInfo.userId }}</td>
                    <td>{{ _rentInfo.carId }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</ng-container>