<h3>렌탈 시스템 관리자</h3>
<form>
    관리자 ID : <input #nameInput id='adminid' type='text'>
    <button (click) = "click()">조회</button>
</form>
<h2>{{ adminState }}</h2>
<ng-container *ngIf="conif==1">
<button (click) = "conCar()">차 목록 관리</button>
<button (click) = "conUser()">유저 목록 관리</button>
<button (click) = "conAdmin()">관리자 정보 관리</button>
<button (click) = "conRentalInfo()">렌탈 정보 확인</button>
    <ng-container *ngIf="con=='car'">
        <h3>차 목록 관리</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">car_id</th>
                    <th scope="cols">car_name</th>
                    <th scope="cols">company</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _car of car">
                    <td>{{ _car.carId }}</td>
                    <td>{{ _car.carName }}</td>
                    <td>{{ _car.company }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            car_name : <input #carName type='text'> 
            company: <input #company type='text'>
            <button>등록</button>
        </p>
        <p>
            car_id : <input #carId type='text'> 
            <button>제거</button>
        </p>
    </ng-container>
    <ng-container *ngIf="con=='user'">
        <h3>유저 목록 관리</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">user_id</th>
                    <th scope="cols">user_name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _user of user">
                    <td>{{ _user.userId }}</td>
                    <td>{{ _user.userName }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            user_name : <input #userName type='text'> 
            <button>등록</button>
        </p>
        <p>
            user_id : <input #carId type='text'> 
            <button>제거</button>
        </p>
    </ng-container>
    <ng-container *ngIf="con=='admin'">
        <h3>관리자 정보 관리</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">admin_id</th>
                    <th scope="cols">admin_name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _admin of admin">
                    <td>{{ _admin.adminId }}</td>
                    <td>{{ _admin.adminName }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            admin_name : <input #adminName type='text'> 
            <button>등록</button>
        </p>
        <p>
            admin_id : <input #carId type='text'> 
            <button>제거</button>
        </p>
    </ng-container>
    <ng-container *ngIf="con=='rentalinfo'">
        <h3>렌탈 정보 확인</h3>
        <table class="carType">
            <thead>
                <tr>
                    <th scope="cols">id</th>
                    <th scope="cols">user_id</th>
                    <th scope="cols">car_id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _rentInfo of rentInfo">
                    <td>{{ _rentInfo.id }}</td>
                    <td>{{ _rentInfo.userId }}</td>
                    <td>{{ _rentInfo.carId }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</ng-container>